# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Production & Build Output
dist/
build/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Environment & Secret Files
.env
.env.*
!.env.example
*.pem

# Logs & Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
/.nyc_output

# IDEs & Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS & Temp files
.DS_Store
Thumbs.db
.temp
.tmp

# Deployments
.vercel